 *{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
input{
    outline: none;
}
img{
    max-width: 100%;
}
h1{
    font-family: Inter;
    font-size: 46px;
    font-weight: 500;
    line-height: 55.67px;
    text-align: center;    
}
.info{
    display: flex;
    gap: 20px;
    width: 400px;
}
.info p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;      
}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 400px;
    margin-top: 50px;
    gap: 40px;
    justify-content: center;
}
.itm h4{
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
    text-align: left;
    
}
.itm input{
    height: 59px;
    width: 200px;
    margin: 10px 0;
    border: 2px blue solid;
}
.itm-needless input{
    height: 59px;
    width: 200px;
    margin: 10px 0;
    border: 2px gray solid;
    text-align: center;
}
.button button{
    width: 200px;
    height: 59px;
    background-color: blue;
    color: white;
    margin: 0 auto;
}
.button{
    
    justify-content: center;
    align-items: center;
    grid-column: span 2
}

.fill-error{
    color: red;
}
.p-error{
    color: red;
}
.button-error{
    background: red;
}
.default{
    border: 2px gray solid;
}

input.error{
border: 2px red solid;
}  
.inp{
    display: flex;
    gap: 5px;
}
.invisible{
    display: none;
}
input {
    border-radius: 5px;
} 

